@page "/tourone/{tourid:int}"
@using BlazorApp1.Models;
@using BlazorApp1.Services;
@inject TourService tourService;

<style>
    body {
        background-color: #FFC897;
        height:1000px;
        border:1px blue solid;
    }

    .conteiner {
        width: 70%;
        height: 800px;
        background-color: #FFFFFF;
        position: absolute;
        margin-left: 15%;
        margin-top: 3%;
        border-radius: 30px;
        box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
    }

    .pic img {
        border: 1px black solid;
        position: absolute;
        margin-left: 4%;
        margin-top: 4%;
        width: 45%;
        height: 39%;
        border-radius: 30px;
    }

    .smallinfo {
        /*border:1px red solid;*/
        width: 43%;
        position: absolute;
        margin-left: 53%;
        margin-top: 3.2%;
        height: 40%;
    }

        .smallinfo .name {
            font-weight: bold;
            font-family: Sitka Text;
            font-size: 40px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .smallinfo .dstart {
            position: absolute;
            font-family: Sitka Text;
            font-size: 30px;
            /*margin-top: 50px;*/
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .smallinfo .dfinish {
            position: absolute;
            font-family: Sitka Text;
            font-size: 30px;
            /*margin-top: 110px;*/
            margin-top: 65px;
            margin-bottom: 0px;
        }

        .smallinfo .route {
            position: absolute;
            font-family: Sitka Text;
            font-size: 30px;
            margin-top: 120px;
            /*margin-top: 0px;*/
            margin-bottom: 0px;
        }

        .smallinfo .price {
            position: absolute;
            font-family: Sitka Text;
            font-size: 40px;
            margin-top: 215px;
            /*margin-top: 0px;*/
            margin-bottom: 0px;
            font-weight: normal;
        }

        .smallinfo .info {
            /*border:1px red solid;*/
            width: 96%;
            position: absolute;
            margin-left: 2%;
            /*margin-top:3.5%;*/
            height: 70%;
        }

    .opys {
        width: 92%;
        /*border: 1px solid black;*/
        height: 40%;
        margin-top: 42%;
        margin-left: 4%;
    }

        .opys p {
            word-wrap: break-word;
            font-family: Bell M;
            font-size: 24px;
            font-weight: normal;
            text-align: center;
            line-height: 1.5;
        }

    .button {
        /*border: 1px black solid;*/
        width: 68%;
        margin-left: 17%;
        margin-top:-100px;
    }

        .button .reserve {
            margin-left: 400px;
        }

        .button a {
            text-decoration: none;
            outline: none;
            display: inline-block;
            padding: 15px 30px;
            margin: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 0 40px 40px #FFA659 inset, 0 0 0 0 #FFA659;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            letter-spacing: 2px;
            color: white;
            transition: .15s ease-in-out;
        }

            .button a:hover {
                box-shadow: 0 0 10px 0 #FF8A24 inset, 0 0 10px 4px #FF8A24;
                color: #FF8A24;
            }
</style>
        <div class="conteiner">
            <div class="pic">
                <img src="@tourViewModel.imagePath">
            </div>
            <div class="smallinfo">
                <p class="name">@tourViewModel.nameTour</p>
                <div class="info">
                    <p class="dstart"><b>Date of start:</b> @tourViewModel.dateOfStart.ToShortDateString()</p>
                    <p class="dfinish"><b>Date of finish:</b>@tourViewModel.dateOfFinish.ToShortDateString()</p>
                    <p class="route"><b>Route:</b><br> @tourViewModel.route</p>
                    <p class="price"><b>Price:</b> @tourViewModel.price UAH</p>

                </div>
            </div>
            <div class="opys">
                <p>
                    @tourViewModel.description
                </p>
            </div>
            <div class="button">
                <a href="tours" class="back">Back</a>
                <a href="#" class="reserve">Reserve</a>
            </div>
        </div>


@code {
    [Parameter]
    public int tourid { get; set; }
    TourViewModel tourViewModel = new TourViewModel();

    protected override async Task OnInitializedAsync()
    {
        tourViewModel = await tourService.GetById(tourid);
    }
}
